<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title layout:fragment="title">Hello</title>
</head>
<body>
<div layout:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GH java for Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<!--/*@thymesVar id="message" type="String"*/-->
<div class="alert alert-info col-6 offset-col-3" th:if="${message}" th:text="${message}"></div>
<div layout:fragment="content">

<div class="container">
    <div class="row justify-content-center mt-5">
        <form th:action="@{/manual}" method="post" class="col-4">

            <h2>Enter Students Info</h2>
                <div>
                    <div class="form-group">
                        <label for="studentName">Enter Student Name</label>
                        <input type="text" class="form-control" id="studentName" name="studentName" required>
                    </div>
                    <div class="form-group">
                        <label for="studentGradeValue">Enter Student Grade</label>
                        <input type="number" step="1" min="1" max="100" class="form-control" id="studentGradeValue" name="studentGradeValue" required>
                    </div>
                    <div class="form-group">
                        <label for="studentGradeType">Select Student Grade Type</label>
                        <select id="studentGradeType" name="studentGradeType">
                            <option th:each="grade : ${T(org.geekhub.studentregistry.grade.GradeType).values()}" th:value="${grade.name()}" th:text="${grade.name()}" >text</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="studentExemDate">Enter Exam Date</label>
                        <input type="date" class="form-control col-6" id="studentExemDate" name="studentExemDate" required>
                        <input type="time" class="form-control col-6" id="studentExemTime" name="studentExemTime" required>
                    </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
</div>
</div>

</body>
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>