<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title layout:fragment="title">Students Registry</title>
</head>
<body>
<div layout:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GH java for Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>

        </div>
    </nav>
</div>

<div class="navbar">
    <a class="nav-item btn btn-info" href="/manual">Create Student</a>
    <a class="nav-item btn btn-warning" href="/auto">Auto Genetrate Students</a>
    <a class="nav-item btn btn-primary" href="/students/analytic">Students Analytic</a>
    <form th:action="@{/students/delete-all}" method="post" onsubmit="return confirm('Are you sure?')">
        <button class="nav-item btn btn-danger" >Delete All Students</button>
    </form>
</div>

<!--/*@thymesVar id="message" type="String"*/-->
<div class="alert alert-info col-6" th:if="${message}" th:text="${message}"></div>
<div layout:fragment="content" class="row">
    <div class="col-6" th:each="students, grade : ${studentsByGradeType}">
        <h3 th:text="${students.getKey().name()}"></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Exam Date</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, stId : ${students.getValue()}">
                <td th:text="${student.getName()}">text</td>
                <td th:text="${student.getDate()}">text</td>
                <td th:text="${student.getGrade().asPrintVersion()}">text</td>
            </tr>
            </tbody>
        </table>

        <div th:each="analytica : ${analytic.get(students.getKey().name())}">
            <p th:each="score : ${analytica}">
                <span th:text="${score}"></span>
            </p>
        </div>
    </div>
</div>

</body>
<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>